/* NavBar.module.css */
.navbar {
  position: sticky;
  width: 100vw;
  height: 120px;
  padding: 0 20px 10px 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background: rgba(0, 0, 0, 0.733);
  top: 0;
  z-index: 1000;
}

.nav {
  position: absolute;
  top: 120px;
  right: -200px;
  background: rgba(0, 0, 0, 0.733);
  transition: right 0.3s ease;
  border-radius: 5px;
  opacity: 0;
  transition: all .2s ease-in-out;
  visibility: hidden;
}

.nav.open {
  opacity: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 10px;
  visibility: visible;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo{
  margin-top: 25px;
}

.nav ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0 40px;
}

.nav li {
  margin: 20px 0 40px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav.open {
  display: block;
}

.mobile-nav-toggle {
  display: none;
  size: 10px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0 30px;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(253, 122, 0);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

/* Transform first line to "X" */
.hamburger.change span:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}

/* Hide middle line */
.hamburger.change span:nth-child(2) {
  opacity: 0;
  transform: translateX(20px); /* Ensures it moves out of sight */
}

/* Transform last line to "X" */
.hamburger.change span:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -9px);
}

@media (max-width: 768px) {
  .nav {
    width: 200px; /* Smaller width for smaller screens */
    top: 120px; /* Adjust if your NavBar height changes on smaller screens */
    right: 0;
  }

  .nav li a {
    font-size: 1.5rem;
  }

  .hamburger{
    display: flex;
    width: 50px;
  }
}

@media (max-width: 480px) {
  .nav {
    width: 95%; /* Full width for very small screens */
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: fit-content;
  }

  .nav.open {
    transform: translateY(5%); /* Slide down */
    top: 100px;
    right: 0;
    left: 0;
  }
}